@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body{
    font-family: "Azeret Mono", monospace;
}

#banner{
    background-image: url(assets/Hero-bg.png);
    background-size: cover;
    
}
#banner .banner-content{
position: absolute;
width: 998px;
height: 582px;
left: 221px;
right: 221px;
top: 30px;
bottom: 4506px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
padding: 0px;
}

#banner .banner-content .title{
position: static;
width: 998px;
height: 136px;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
line-height: 68px;
letter-spacing: 0%;
text-align: center;
margin-top: 20px;
margin-bottom: 25px;
}

#banner .banner-content .paragraph{
width: 852px;
height: 52px;
opacity: 0.7;
color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 0;
margin-bottom: 32px;

}

#banner .banner-content .button-container .button{
    padding: 21px 24px 21px 24px;
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;

background: rgb(13, 19, 33);
fill:
rgb(255, 255, 255);
}
#banner .banner-content .button-container{

    text-align: center;
    margin-top: 0;
    margin-bottom: 44px;
}


.section-title{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin: 15px 0px;
}

.section-description{
    color: rgb(13, 19, 33);
font-size: 16px;
font-weight: 400;
opacity: 0.7;

}


.Why-web-development{
    position: absolute;
width: 1140px;
height: 1395px;
left: 148px;
right: 152px;
top: 800px;
bottom: 2993px;
text-align: center;
margin-top: 0;
}
.First-box{
margin-top: 20px;
    display: flex;
    gap: 250px;
}

.First-box1{
    position: static;
width: 607px;
height: 210px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
padding: 0px;

}
.First-box2{
/* Group */
width: 259.56px;
height: 210.01px;
margin-top: 50px;

}

.Box-title{
    color: rgba(13, 19, 33, 0.7);
font-size: 24px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}

.Box-paragraph{
    color: rgb(13, 19, 33);
    opacity: 0.7;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
margin-top: 0;
}

.box-button{

    position: static;
width: 150px;
height: 48px;
box-sizing: border-box;
border: 1px solid rgb(13, 19, 33);
opacity: 0.7;
margin-top: 20px;
padding: 12px 20px 12px 20px;

}

.Second-box2{
    position: static;
    width: 607px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}
Second-box1{
    width: 223.2px;
height: 101.32px;
}

.Second-box{
    margin-top: 30px;
        display: flex;
        gap: 150px;
        padding: 60px;
    }

    .Third-box{
        margin-top: 40px;
            display: flex;
            gap: 250px;
        }
        
        .Third-box1{
            position: static;
        width: 607px;
        height: 210px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0px;
        
        }
        .Third-box2{
        /* Group */
        width: 259.56px;
        height: 210.01px;
        margin-top: 50px;
        
        }