@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


body {
    font-family: "Azeret Mono", monospace;
}

#banner {
    background-image: url(assets/Hero-bg.png);
    background-size: cover;

}

#banner .banner-content {
    position: absolute;
    width: 998px;
    height: 582px;
    left: 221px;
    right: 221px;
    top: 30px;
    bottom: 4506px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

#banner .banner-content .title {
    position: static;
    width: 998px;
    height: 136px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

#banner .banner-content .paragraph {
    width: 852px;
    height: 52px;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;

}

/*
#banner .banner-content .button-container .button {
    padding: 21px 24px 21px 24px;
    color: rgb(248, 244, 244);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
text-decoration: none;
    background: rgba(0, 0, 0, 0.918);

}

.button-container .button a{
    text-decoration: none;
    color: white;
}
    */
    #banner .banner-content .button-container {
        text-align: center;
        margin-top: 0;
        margin-bottom: 44px;
        color: black;
     
    
    }

    .button-container button{
        background-color: black;
       color: azure;
        font-size: 20px;
        font-weight: 600;
        line-height: 23px;
        letter-spacing: 0%;
        text-align: center;
        border-radius: 8px;
        padding: 21px 24px 21px 24px;

    }

.section-title {
    font-size: 32px;
    font-weight: 800;
    color: rgb(13, 19, 33);
    margin: 15px 0px;
}

.section-description {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;

}


.Why-web-development {
    position: absolute;
    width: 1140px;
    height: 1395px;
    left: 148px;
    right: 152px;
    top: 800px;
    bottom: 2993px;
    text-align: center;
    margin-top: 0;
}

.First-box {
    margin-top: 20px;
    display: flex;
    gap: 250px;
}

.First-box1 {
    position: static;
    width: 607px;
    height: 210px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

}

.First-box2 {
    /* Group */
    width: 259.56px;
    height: 210.01px;
    margin-top: 50px;

}

.Box-title {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
}

.Box-paragraph {
    color: rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 0;
}

.box-button {

    position: static;
    width: 150px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    margin-top: 20px;
    padding: 12px 20px 12px 20px;

}

.Second-box2 {
    position: static;
    width: 607px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
}

Second-box1 {
    width: 223.2px;
    height: 101.32px;
}

.Second-box {
    margin-top: 30px;
    display: flex;
    gap: 150px;
    padding: 60px;
}

.Third-box {
    margin-top: 40px;
    display: flex;
    gap: 250px;
}

.Third-box1 {
    position: static;
    width: 607px;
    height: 210px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;

}

.Third-box2 {
    /* Group */
    width: 259.56px;
    height: 210.01px;
    margin-top: 50px;

}

.My-Inspiration {
    /* Frame 15 */
    position: absolute;
    width: 1140px;
    height: 775px;
    left: 148px;
    right: 152px;
    margin-top: 1350px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


}

.inspiration-title {
    width: 852px;
    height: 37px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.inspiration-paragraph {
    position: static;
    width: 852px;
    height: 52px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;

    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin-top: 0;
}

.inspiration-video-holder {
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 48px 0px;
    box-sizing: border-box;
    border: 2px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;

}

.Inspirational-video {
    align-items: center;
    margin: 20px;
    border-radius: 16px;

}

.current-target {
    position: absolute;
    width: 1140px;
    height: 775px;
    left: 150px;
    right: 150px;
    margin-top: 2200px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.target {
    /* Frame 12 */
    position: static;
    width: 900px;
    height: 115px;
    align-items: center;
    text-align: center;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 48px 0px;
}

.target-title {
    /* My Current Target */
    position: static;
    width: 852px;
    height: 39px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;


    /* Inside Auto Layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 24px 0px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.icons {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    position: static;
    align-items: center;
    margin: 30px;
}

.html {
    /* Frame 10 */
    position: static;
    width: 300px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    /* Inside Auto Layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    border-radius: 16px;

    background: rgba(255, 76, 30, 0.05);
}

.css {

    /* Frame 16 */
    position: static;
    width: 300px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;


    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    border-radius: 16px;

    background: rgba(0, 76, 232, 0.05);
}


.javaScript {

    /* Frame 17 */
    position: static;
    width: 300px;
    height: 300px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;


    /* Inside Auto Layout */
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 24px;
    border-radius: 16px;

    background: rgba(255, 223, 0, 0.05);
}

.icons-title {
    margin-bottom: 10px;
}

#support {
    position: absolute;
    width: 1140px;
    height: 350px;
    left: 100px;
    right: 150px;
    margin-top: 3000px;
    margin-bottom: 20px;
    /* Auto layout */
    background-image: url(../assets/handshake.png);
    background-size: cover;
    border-radius: 16px;
    padding: 40px 32px 40px 32px;
    align-items: center;


}

.support_title {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    left: 400px;
    right: 240px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0px;
}

.support_description {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

}

.submit-problem input[type="text"] {

    height: 50px;
    width: 300px;
    box-sizing: border-box;

    border-radius: 8px;

    background: rgb(255, 255, 255);
}

.submit-problem input[type="submit"] {
    font-weight: 600;
    height: 50px;
    width: 70px;
    border-radius: 8px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    background: rgb(255, 255, 255);
}

.submit-problem {

    display: flex;
    padding-left: 400px;
    gap: 10px;
    margin-top: 70px;
}

footer {

    width: 1440px;
    height: 100px;
    margin-top: 3600px;
    display: flex;
    gap: 800px;
}

.footer-line {
    margin-left: 100px;
}

.footer-icons {
    margin-left: none;
}